<center>
  <section>
    <h1><%= @pet.name %></h1>
      <img src= <%= @pet.image %>>
      <p><%= @pet.description %></p>
      <p>Age: <%= @pet.approximate_age %></p>
      <p>Sex: <%= @pet.sex %></p>
      <% if @pet.adoptable? %>
        <p>Status: Adoptable </p>
      <% else %>
        <p>Status: Adoption Pending</p>
        <p>On hold for <%= link_to @pet.applicant_name(@pet.id), "/applications/#{@pet.applicant_id(@pet.id)}" %></p>
      <% end %>
    <p><%= link_to "Edit #{@pet.name}", "/pets/#{@pet.id}/edit" %></p>
    <p><%= link_to "Delete #{@pet.name}", "/pets/#{@pet.id}", method: :delete %></p>
    <% if favorites.included_in_favorites?(@pet.id) %>
      <p><%= button_to "Remove #{@pet.name} from Favorites", "/favorites/#{@pet.id}", method: :delete %></p>
    <% else %>
      <p><%= button_to "Add #{@pet.name} to Favorites", "/favorites/#{@pet.id}", method: :patch %></p>
    <% end %>
    <p><%= link_to "View all applications for #{@pet.name}", "/pets/#{@pet.id}/applications" %></p>
  </section>
</center>
