<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <% flash.each do |type, message| %>
  <p> <%= message %></p>
  <% end %>

  <body>
    <nav class = "topnav">
      <%= link_to "All Shelters", "/shelters"%>
      <%= link_to "All Pets", "/pets"%>
      <%= link_to "Favorites", "/favorites" %>: <%= favorites.total_count %>
    </nav>
    <%= yield %>
  </body>
</html>
